* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');

.headofsecurity{
    background-color: darkcyan;
    height: 15vh;
    padding: 5vh 0vw 0vh 0vw;
    font-size: 25px;
    margin: 0vh 0vw 5vh 0vw;
}
.headofsecurity h2{
    margin: 0vh 0vw 0vh 10vw;
color: aliceblue;
border-bottom: 2px solid aliceblue;
font-family: 'Gentium Basic', serif;
width: 25vw;
}
.security-info{
    list-style: inside;
margin: 2vh 10vw 0vh 10vw;
padding: 25px;
background-color: #067f0e1c;
font-size: large;
font-family: 'Tai Heritage Pro', serif;
}
.security-pics{
    margin: 5vh 10vw 0vh 10vw;
    display: grid;
    grid-template-columns: 28vw 28vw 0vw;
    grid-template-rows: 45vh;
}
.security-pics img{
    width: 350px;
    height: 300px;
    border: 2px solid #067f0e1c;
   border-radius: 15px;
   box-shadow: 7px 7px 7px 7px #067f0e1c;
   }