*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headoffacility{
    background-color: darkcyan;
height: 15vh;
padding: 5vh 0vw 0vh 5vw;
font-size: 25px;
margin: 0vh 0vw 5vh 0vw;
}
.headoffacility h2{
    margin: 0vh 0vw 0vh 10vw;
color: aliceblue;
border-bottom: 2px solid aliceblue;
width: 25vw;
}
.facility{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 55vh;
}
.facility div{
    margin: 0vh 0vw 5vh 0vw;
    border-radius: 20px;
    height: 51vh;
    background-color: #68c8b6;
    box-shadow: 1vh 1vw 1vh 1vw #20b2aa26;
    border: 1px solid green;
  }

main h2{
    
}
.facility img{
    width: 25vw;
    border: 2px solid cadetblue;
    border-radius: 20px;
    height: 40vh;
}
.facility p{
    font-size: 20px;
font-weight: bold;
text-align: center;
margin: 1vh 0vw 2vh 0vw;
}
.facility a{
    text-align: center;
    background-color: #afd4cf94;
    border-radius: 5px;
margin: 0vh 0vw 0vh 9vw;
padding: 1vh 1vw 1vh 1vw;
}