*{
    padding: 0;
    margin:0 ;
}
body{
     background-color: beige;

}
body section{
    display: flex;
    flex-direction: column;

}
body section h2{
    margin: 30px;
    color: brown;
    text-decoration:underline;
}
body section div{
    margin: 35px;
    font-size: x-large;
    color:chocolate;

}
body section p{
    margin: 35px;
    color: #554b4b;
}