*{
    padding: 0;
    margin: 0;
}
header {
    position: absolute;
    /* overflow: hidden; */
    z-index: 1000;
    width: 100vw;
    top: 0;
    display: contents;
}
.main-icon{
    width: 75px;
}
nav ul {
    /* position:fixed; */
    z-index: 999;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: darkcyan;
    flex-wrap: wrap;
    height: 15vh;
    width: 100vw;

}

nav ul li {

    list-style-type: none;
    padding: 10px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    font-weight: 850;
}

.search {
    background-color: whitesmoke;
    border-radius: 30px;
}

.searchbar {
    background: transparent;
    border: 0;
    outline: none;
    padding: 5px;
    margin: 5px;
}

.search button {
    margin-right: 12px;
    background: transparent;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #9ea1b3;
    cursor: pointer;
}
.recharge-form{
        height: 30vh;
    width: 55vw;
background-color: lavenderblush;
border: 2px solid bisque;
border-radius: 10px;
margin: 4vh 0vw 10vh 5vw;
}
.upper{
    display: flex;
    justify-content: space-around;
   
  
}
#des-recharge{
    background-color: indianred;
border-radius: 10px 10px 0px 0px;
padding: 15px;
font-size: 20px;
font-weight: bolder;
color: aliceblue;
}
.rech-plat{
    padding: 5px;
    margin: 5vh 0vw 0vh 2vw;
    font-size: 18px;
  
}
.recharge-form input{
    font-size: 18px;

}
.security-rech{
    background-color: #ecffff;
    color: #8d0808;
    font-size: xx-large;
    border: transparent;
    border-radius: 69%;
    margin-top: 10vh;

}
.security-rech b u{
    font-size: 30px;

}
.or{
    width: 50px;
align-items: center;
display: flex;
}
.arrow{
    width: 30px;
    height: 20px;
}

.security-rech img{
    width: 15vw;
border-radius: 35px;
height: 30vh;
}
.steps-detail{
    color: black;
font-size: 28px;
    display: flex;
    justify-content: space-evenly;
}
.updates{
    background-color: aliceblue;
    margin: 2vh 0vw 0vh 0vw;
   height: 50vh;
    
width: 20vw;
border: 5px solid cadetblue;
border-radius: 10px;
}
.updates h2{
    font-size: xx-large;
    color: red;
}
.updates ul li{

}
.updates ul{
    list-style: inside;
    color: darkblue;
    
}
.smart-info{
    display: flex;
    flex-direction: column;
    margin: 10vh 10vw 0vh 10vw;
  }
  .smart-info img{
    width: 79vw;
height: 50vh;
border: 2px solid goldenrod;

  }
.smart-info p{
    font-size: xx-large;
    color: #a8081f;
    margin: 5vh 0vw 0vh 0vw;
}
.smart-info ul {
    margin: 5vh 0vw 0vh 0vw;
font-size: 20px;
font-weight: normal;
list-style-type: square;
    
}
.smart-info ul li{
    margin: 2vh 0vw 0vh 0vw;

}