* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    position: relative;
    overflow: hidden;
}
.bg-bodyimg{
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
} */
@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
header {
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    width: 100vw;
    top: 0;
    display: contents;
}

nav ul {
    position:fixed;
    z-index: 999;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: darkcyan;
    flex-wrap: wrap;
    height: 15vh;
    width: 100vw;

}
.main-icon{
    width: 75px;
}

nav ul li {

    list-style-type: none;
    padding: 10px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Gentium Basic', serif;
    font-weight: bold;
    font-weight: 850;
}

.search {
    background-color: whitesmoke;
    border-radius: 30px;
}

.searchbar {
    background: transparent;
    border: 0;
    outline: none;
    padding: 5px;
    margin: 5px;
}

.search button {
    margin-right: 12px;
    background: transparent;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #9ea1b3;
    cursor: pointer;
}

main {
    /* display: grid;
    grid-column: span;
    height: 100vh;
width: 100vw; */
}

.box1 h3 {
    text-align: center;
    margin: 0vh 0vw 0vh 0vw;
    padding: 0px;
    text-decoration: underline brown;
    color: #dd0808;


}

.journey {
    display: flex;
   
    width: 100vw;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding: 15vh 5vw 0vh 5vw; 
    margin: 0px 15px 0px 0px; 
    /* display: flex;
    width: 21vw;
    height: 45vh;
    padding: 20px 0px 0px 20px;
    margin: 24px;
    position: relative;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 13px 13px rgb(226, 226, 237);
    align-items: center;
    justify-content: space-between; */
}


.box1 {
    width: 21vw;
    height: 50vh;
    /* padding: 3vh 0vw 0vh 0vw;
    margin:0vh 64vw 12vh 2vw; */
    border: 1px solid red;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 1vw 2vh rgb(226, 226, 237);
    padding: 30px;
    overflow: hidden;
    position: relative;

}

.box1 .bg-img {
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#city {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.journey-submit {
    width: 5vw;
    background-color: rgb(236, 57, 57);
    border-style: none;
    font-size: 9px;
    width: 5vw;
    height: 5vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-journey {
    /* cursor: pointer;
    list-style: none;
    height: fit-content;
width: 10vw; */
    text-align: center;
    position: relative;
}

.city-name {
    width: 13vw;
}

#city {
    margin: 0;
    padding: 0;
}

.start {
    margin:0px 0px 0px -3vw;
}

.destination {
    margin: 0vh 0vw 0vh -2vw;
}

.m-map {
    background-color: rgb(153, 213, 249);
    right: 0;
    padding: 12vh 2vw 12vh 5vw;
    /* margin: -15vh 2vw 0vh 29vw; */
    border-radius: 10px;
    border: 1px solid rgb(2, 112, 255);
    height: 40vh;
width: 35vw;
    
}

.map {
    margin: -9vh 0vw 1vh -3vw;
}

.map-art {
    margin: -1vh 0vw 5vh 0vw;
    font-style: oblique;
}

.m-map label {
    margin: 0vh 2vw 0vh 5vw;
}

.m-map #city-name {
    border-style: none;
    border-radius: 5px;
}

.map-btn {
    height: 23vh;
    width: 30vw;
    border: none;
}

.map-btn img {
    height: 23vh;
    width: 30vw;
    opacity: 0.6;
    border: none;
    
}

.map-btn img :hover {
    cursor: pointer;
    opacity: 100%;
    background-color: rgb(68, 6, 6);
    color: white;
}



.notice-box {
    height: 60vh;
    width: 20vw;
border: 2px solid rgb(255, 255, 5);
    text-align: center;
    border-radius: 5px;
    background-color: #ffff0a38;
    color: firebrick;
    overflow: hidden scroll;
    margin: 30px 0px 0px 0px;
}

#notice-hr {
    margin: 0 auto;
    width: 80%;
    border: 0.6px dashed #670420d1;
}

.notice-box h4 {
    padding: 2vh;
}

.board {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

.notices {
    height: 10vh;
    width: 20vw;

}

.extentions{
    display: grid;
height: 40vh;
width: fit-content;
grid-template-columns: 42vh 0vw 40vh;
margin: 0vh 0vw 0vh 30vw;
grid-template-rows: 20vh 0vw;
    
}
#card-recharge{
    background-color: #13f4d4;
    color: #3f4fa2;
    width: 20vw;
    height: 9vh;
    border: 2px solid #0c8e82;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    padding: 19px;
    font-size: 19px;
    font-weight: bold;
}
/* #hystory{
    background-color: #13f4d4;
    width: 20vw;
    color: black;
    height: 9vh;
    border: 2px solid #0c8e82;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
   font-family: 'Gentium Basic', serif;
} */
#tour{
    background-color: #13f4d4;
    color: #3f4fa2;
width: 20vw;
height: 9vh;
border: 2px solid #0c8e82;
border-radius: 20px;
text-align: center;
text-decoration: none;
font-family: 'Gentium Basic', serif;
padding: 19px;
font-size: 19px;
font-weight: bold;
}
#facility{
    background-color: #13f4d4;
    color: #3f4fa2;
width: 20vw;
height: 9vh;
border: 2px solid #0c8e82;
border-radius: 20px;
text-align: center;
text-decoration: none;
font-family: 'Gentium Basic', serif;
margin: -10vh 0vw 0vh 0vw;
padding: 19px;
font-size: 19px;
font-weight: bold;
}
#lost{
    background-color: #13f4d4;
    color: #3f4fa2;
width: 20vw;
height: 9vh;
border: 2px solid #0c8e82;
border-radius: 20px;
text-align: center;
text-decoration: none;
font-family: 'Gentium Basic', serif;
margin: -10vh 0vw 0vh 0vw;
padding: 19px;
font-size: 19px;
font-weight: bold;

}
#timing{
    background-color: #13f4d4;
    color: #3f4fa2;
    width: 20vw;
    height: 9vh;
    border: 2px solid #0c8e82;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    margin: 0vh 0vw 0vh -10vw;
    padding: 19px;
    font-size: 19px;
    font-weight: bold;
}

.foot div{
    /* z-index: 1000; */
    width: 100vw;
    height: 20vh;
    background-color: darkcyan;
     color: white;

}
.foot p{
    background-color: darkcyan;
color: white;
text-align: center;
}
.copyright
{
    background-color: darkcyan;
color: white;
text-align: center;
}
.foot a img{
    width: 75px;

}