{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>

<body>
    <main>
        <div class="headofcontact">
            <h2>Contact Us</h2>
        </div>
        <div class="feedback">
            <h3>Feedback Form
                
            </h3>
        </div>
        <div class="bodyofcontact">

            <form action="feedback">
                

                    <div class="name"><input type="text" placeholder="NAME" size="65vw"><br></div>
                    <div><input type="email" name="email" id="email" placeholder="E-mail" size="30vw"><br></div>
                    <div><input type="tel" name="tel" id="tel" placeholder="mobile no." size="25vw"><br></div>

                    <div><select name="metro city name" id=" metro-city-name" >
                            <option value="">select city</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Delhi">Delhi</option>
                            <option value=" Chennai"> Chennai</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value=" Hyderabad"> Hyderabad</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Gurgaon">Gurgaon</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Lucknow">Lucknow</option>
                        </select></div>

                    <div> <select name="purpose" id="purpose" >
                            <option value="">select subject</option>
                            <option value="query">query</option>
                            <option value="feedback">feedback</option>
                        </select></div>

                    <div> <textarea name="feedback" id="feedback" placeholder="Message" cols="30" rows="5"  > </textarea></div>
                    <div><button id="submit-feedback" > Send Message</div>
            </form>
        </div>
    </main>

</body>

</html>