{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility</title>
    <link rel="stylesheet" href="{% static 'css/facility.css' %}">
</head>
<body>
    <header></header>
    <main>
        <div class="headoffacility"><h2>Facilities</h2></div>
        <div class="facility">
            
            <div>
                <img src="{% static 'img/Metro_Rail_Womens_Coach_main.jpg' %}" alt=""><p>Facilities for womens</p>
                <a href="{% url 'women' %}">View More</a>
            </div>
            <div>
                <img src="{% static 'img/wheelchair-user-delhi-metro-station-wecapable.jpg' %}" alt=""><p>facilities for physical handicaped</p><a href="{% url 'physical' %}">View More</a>
            </div>
            <div>
                <img src="{% static 'img/17.jpg' %}" alt=""><p>facility for drinking water</p>
            </div>
            <div>
                <img src="{% static 'img/security.jpg' %}" alt=""><p>facility for security</p><a href="{% url 'security' %}">View More</a>
            </div>
        </div>
    </main>
</body>
</html>