<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility</title>
    <link rel="stylesheet" href="/css/facility.css">
</head>
<body>
    <header></header>
    <main>
        <div class="headoffacility"><h2>Facilities</h2></div>
        <div class="facility">
            
            <div>
                <img src="/img/Metro_Rail_Womens_Coach_main.jpg" alt=""><p>Facilities for womens</p>
                <a href="women.html">View More</a>
            </div>
            <div>
                <img src="/img/wheelchair-user-delhi-metro-station-wecapable.jpg" alt=""><p>facilities for physical handicaped</p><a href="ph.html">View More</a>
            </div>
            <div>
                <img src="/img/17.jpg" alt=""><p>facility for drinking water</p>
            </div>
            <div>
                <img src="/img/security.jpg" alt=""><p>facility for security</p><a href="securiy.html">View More</a>
            </div>
        </div>
    </main>
</body>
</html>