<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ph</title>
    <link rel="stylesheet" href="/css/ph.css">
</head>

<body>
    <main>
        <div class="headofph">
            <h2> Facilities For Physically Handicaped</h2>
        </div>


        <div class="ph-info">
            <ul>


                <li>Extra Wide Automatic flap gates for wheelchairs</li><br>
                <li>Provision of wheelchair at stations</li><br>
                <li>Reserved spaces for wheelchair in trains</li><br>
                <li>Tactile paths for visually impaired</li><br>
                <li>Separate toilets</li>.<br>
                <li>Ramps for change in the level</li><br>
                <li>Handrails alongside stairs</li><br>
                <li>Lifts are provided with:
                    Wide access doors
                    Hand rails
                    Audio-visual indications
                    Telephone buttons
                    Call buttons in braille.</li><br>
                <li>Signage at prominent locations for guidance</li><br>
                <li>Seats reserved in trains</li><br>
                <li>Audio/visual indication while closing of train doors</li><br>
                <li>Station staff provides personal assistance</li><br>


            </ul>
        </div>
        <div class="ph-pics">
            <img src="/img/ph.jpg" alt="">
            <img src="/img/ph1.jpg" alt="">
            <img src="/img/ph2.jpg" alt="">
            <img src="/img/ph3.jpg" alt="">
            <img src="/img/ph4.jpg" alt="">
            <img src="/img/ph5.jpg" alt="">
        </div>
        <!-- <div>
            <img src="/img/ph.jpg" alt="">
        </div> -->

    </main>
</body>

</html>