<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/security.css">
</head>
<body>
    <main>
        <div class="headofsecurity">
            <h2>Facilities Of Security</h2>
        </div>
        <div class="security-info">
            <ul>
                <li>To file an E-FIR :-<a href="https://cctnsup.gov.in/eFIR/login.aspx">https://cctnsup.gov.in/eFIR/login.aspx</a> </li><br>
                <li>We provide security staff to every possible area of metro station. </li><br>
                <li>We implemented cctv camera at every possible place in metro station.</li><br>
                <li>We have lady security too.</li><br>
            </ul>
        </div>
        <div class="security-pics">
            <img src="/img/security1.jpg" alt="">
            <img src="/img/security2.jpg" alt="">
            <img src="/img/security3.jpg" alt="">
        </div>
</body>
</html>