{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/women-css.css' %}">
</head>

<body>
    <main>
        <div class="headofsafety">
            <h2>Women's Safety</h2>
        </div>
        <div class="flexforsafety">
        <div class="container">
            <div class="slide">
                <img class="images" src="{% static 'img/women-safe1.jpg'%}" alt="">
                <img class="images" src="{% static 'img/women-safe2.jpg'%}" alt="">
                <img class="images" src="{% static 'img/women-safe3.jpg'%}" alt="">
                <img class="images" src="{% static 'img/women-safe14.jpg'%}" alt="">
                <img class="images" src="{% static 'img/women-safe15jpg.jpg'%}" alt="">

            </div>
            <div>
                <a class="prev" onclick="nextslide(-1)">&#10094;</a>
                <a class="next" onclick="nextslide(1);">&#10095;</a>
            </div>
        </div>
        <div class="safety-info">
            <ul>
                <li>First coach of train in moving direction is reserved.</li>
                <br>
                <li> Signage have been provided at platform to indicate where the reserved coach normally stops.</li>
                <br>
                <li> Reserved seats in every coach.</li>
                <br>
                <li>For Checking male passengers travelling in women’s coach:</li>

                <p> Quick reaction teams have been deployed.</p>
                      <p>      Special drives are carried out</p>
                   <p> Offenders will be penalized for 250/-</p>
                
                <br>
                <li>Zero tolerance for drunkards and trouble makers.</li>
                <br>
                <li>CCTV surveillance in DMRC premises.</li><br>
                <li>Patrolling of the platform after sunset hours have been intensified.</li><br>
                <li>Female CISF staff has been deployed at stations for frisking</li><br>
            </ul>
        </div>
    </div>
    </main>
    <script>
        let i = 0;
        let imgs;
        slideshow(i);

        function slideshow(num) {
            let slides = document.getElementsByClassName('slide');
            let imgs = document.getElementsByClassName('images');
            console.log(imgs)
            if (num == imgs.length) {
                i = 0; num = 0;
            }
            if (num == -1) {
                num = imgs.length - 1;
                i = imgs.length - 1;
            }
            for (let y of imgs) {
                y.style.display = 'none';
            }

            imgs[num].style.display = 'block';


        }
        function nextslide(x) {
            console.log('clicked');
            i = i + x;

            slideshow(i);


        }



    </script>

</body>

</html>